baseURL = "https://stackzeng.github.io/"
languageCode = "zh-cn"
title = "stackzeng"
theme = "PaperMod"

[pagination]
  pagerSize = 10

[params]
  defaultTheme = "auto"     # 自动浅色 / 深色
  ShowReadingTime = true
  ShowShareButtons = false
  ShowPostNavLinks = true
  ShowBreadCrumbs = false
  ShowCodeCopyButtons = true
  ShowToc = true
  TocOpen = false
  enableSearch = true

[[menu.main]]
identifier = "archives"
name = "Archive"
url = "/archives/"
weight = 1

[[menu.main]]
identifier = "search"
name = "Search"
url = "/search/"
weight = 2

[[menu.main]]
identifier = "tags"
name = "Tags"
url = "/tags/"
weight = 3

[[menu.main]]
identifier = "about"
name = "About"
url = "/about/"
weight = 4

[[menu.main]]
name = "RSS"
url = "/index.xml"
weight = 5

